* {
  margin: 0;
  padding: 0;
}
/*NAV*/
<<<<<<< HEAD:css/index.css

.contenedor-nav{
    height: 80px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    background-color: #F9FF60;
=======
.contenedor-nav {
  height: 80px;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  background-color: yellow;
>>>>>>> 62faec857fd69895df9b13de594cd373e9e8cc10:index.css
}

.contenedor-opciones {
  display: flex;
  justify-content: space-evenly;
}

.texto-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}

.contenedor-logo {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.img-logo {
  margin-top: 5px;
  width: 30px;
  height: 100%;
}

.contenedor-boton {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-contacto {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: black;
  height: 35px;
  width: 30%;
  cursor: pointer;
  align-self: center;
  font-size: 18px;
}

/*FIN NAV*/

/*HEADER*/
<<<<<<< HEAD:css/index.css
.contenedor-header, .contenido-cuarto-section{
    position: relative;
    display: inline-block;
    text-align: center;
    
=======
.contenedor-header {
  position: relative;
  display: inline-block;
  text-align: center;
>>>>>>> 62faec857fd69895df9b13de594cd373e9e8cc10:index.css
}

.img-header {
  width: 100%;
  height: 100%;
}

<<<<<<< HEAD:css/index.css
.texto-principal, .titulo-section4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: white;
    width: 80%;
}

.texto-secundario,.texto-section4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
=======
.texto-principal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: white;
  width: 80%;
}

.texto-secundario {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
>>>>>>> 62faec857fd69895df9b13de594cd373e9e8cc10:index.css
}

.btn-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* FIN HEADER*/

/*ARTICLE*/
<<<<<<< HEAD:css/index.css

.contenedor-article{
    display: grid;
    grid-template-columns: 35% 65%;
}
/*PRIMER SECTION*/
.contenido-primer-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
=======
.contenedor-article {
  display: grid;
  grid-template-columns: 35% 65%;
}

.contenido-primer-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
>>>>>>> 62faec857fd69895df9b13de594cd373e9e8cc10:index.css
}

.texto-primer-section {
  font-size: 40px;
  font-weight: bold;
}

<<<<<<< HEAD:css/index.css
/*SEGUNDO SECTION*/
.contenido-segundo-section{

    
=======
.contenido-segundo-section {
>>>>>>> 62faec857fd69895df9b13de594cd373e9e8cc10:index.css
}

.texto-segundo-section {
  display: grid;
  grid-template-columns: 20% 80%;
  border-bottom: 2px solid tan;
  margin-bottom: 10px;
}

.img-section2 {
  grid-row: 1 / 4;
  width: 100%;
  border-radius: 50%;
}

.titulo-section2 {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 25px;
}

.texto-section2 {
  margin-left: 20px;
  font-size: 25px;
}
/*FIN ARTICLE*/
<<<<<<< HEAD:css/index.css

/*TERCER SECTION*/
.contenido-tercer-section{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    background-color: #EFF900;
    
}
.texto-tercer-section{
    grid-column: 1 / 4;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 40px;
}

.contenido-conocenos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.img-section3{
    width: auto;
    height: 80%;
}

.titulo-section3{
    margin-top: 15px;
    margin-bottom: 20px;
}

.texto-section3{

}

/*CUARTO SECTION*/
.contenido-cuarto-section{
    width: 100%;
    
}

.img-section4{
    height: 400px;
    width: 100%;
    
    
}

/*FIN CUARTO SECTION*/

/*FOOTER*/
.contenedor-footer{
    display: flex;
    justify-content: space-around;
    background-color: #EFF900;
}


/*FIN FOOTER*/
=======
>>>>>>> 62faec857fd69895df9b13de594cd373e9e8cc10:index.css
